.flex-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-flow: row wrap;
    gap: 40px;
    min-width: 1500px;
    max-width: 1500px;
    margin: auto;
}

.item {
    color: #fff;
    display: block;
    width: 460px;
    height: 400px;
}

.item-active {
    order: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.item-1 {

}

.item-2 {
    background-color: darkturquoise;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    height: 643px;
    width: 400px;
    padding-top: 200px;
}

.item-3 {

}

.item-4 {

}

.item-5 {

}

.item-6 {
    border: 2px solid darkturquoise;
    color: darkturquoise;
    align-content: center;
}

.item-7 {

}

.item-8 {

}

.item-9 {
    background-color: #F86942;
    height: 340px;
    width: 900px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    padding: 30px;
}

#info-bucket {
    background-color: darkturquoise;
}

#main-logo, #additional-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: normal;
}

#main-logo {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
}

#additional-logo {

}

#more-info-header {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
    float: top;
    padding-bottom: 25px;
    margin-top: 0;
}

#read-more-text {
    padding-bottom: 45px;
}

a {
    background-color: white;
    color: #999999;
    padding: 15px 25px;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    font-size: 25px;
}

.first-second-row-images {
    width: 460px;
    height: 400px;
}

.third-row-image {
    width: 460px;
    height: 400px;
}


table {
    border-spacing: 30px;
}

a:hover {
    text-decoration: underline;
    color: dimgray;
    font-weight: bold;
}

@media screen and (max-width: 960px) {

    .flex-container {
        flex-flow: column;
        align-items: center;
        min-width: 450px;
        max-width: 800px;
    }

    .item-1 {
        display: none;
    }

    .item-2 {
        height: 400px;

        padding-left: 30px;
        padding-right: 30px;

        width: 400px;
        padding-top: 0px;
    }

    .item-5 {
        display: none;
    }

    .item-active {
        order: 0;
        position: relative;
    }

    .item-9 {
        width: 400px;
        height: 500px;
    }

}
