@media screen and (max-width: 720px) {
    .header-row {
        display: flex;
        flex-direction: column;
        height: 220px;
        min-width: 630px;
    }
    #header-text {
        justify-content: normal;
        margin: 2%;
        width: 90%;
        min-width: 600px;
        padding: 0;
        height: 120px;
    }
    #moto-1 {
        margin-top: 25px;
    }
    #moto-2 {
        margin-bottom: 10px;
        margin-left: 80%;
        margin-right: 10%;
        width: 10%;
        text-align: center;
        padding: 8px;
    }
    .content-row {
        display: flex;
        flex-flow: row wrap;
        /*justify-content: space-evenly;*/
    }
    .line-break {
        display: block;
        width: 100%;
    }
    #colTwo {
        width: 70%;
        min-width: 180px;
        height: 600px;
    }
    #colOne {
        min-width: 200px;
        height: 600px;
    }
    #colThree {
        width: 100%;
        min-width: 630px;
    }
    .footer-row {
        display: flex;
        flex-direction: column;
        height: 220px;
        min-width: 630px;
    }
    #footer-text {
        justify-content: normal;
        margin: 2%;
        width: 90%;
        min-width: 630px;
        padding: 0;
        height: 120px;
    }
    ul {
        padding-left: 18px;
    }
}
@media screen and (max-width: 710px) {
    #colTwo {
        width: 100%;
        height: 500px;
        min-width: 623px;
    }
    #colOne {
        width: 100%;
        height: 70px;
        min-width: 623px;
    }
    #footer-text {
        justify-content: normal;
        margin: 2%;
        width: 90%;
        min-width: 500px;
        padding: 0;
        height: 120px;
    }

    #table1-box{
        display: block;
    }

    #header-text{
        display: none;
    }
}
