.container {
    display: flex;
    flex-direction: column;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    width: 100%;
    height: 160px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    background-color: aqua;
    float: bottom;

}

#header-text {
    margin-right: 3%;
    width: 45%;
    text-align: center;
    padding: 8px;
}

/*#mid-container{*/
/*    width: 45%;*/
/*    flex-wrap: wrap;*/
/*}*/

#moto-1 {
    margin-left: 3%;
    margin-top: 45px;
    height: 21px;
}

#moto-2 {
    margin-right: 3%;
    margin-top: 45px;
    height: 21px;
}

#colOne {
    min-width: 70px;
    width: 15%;
    background-color: #999999;
    height: 800px;
    padding: 0 1%;
}

#colTwo {
    width: 20%;
    padding: 0 1%;
    background-color: #999999;
    height: 800px;
    min-width: 200px;
}

#colThree {
    float: right;
    width: 51%;
    height: 800px;
}

#upper-subCol {
    padding: 10px 1%;
    height: 280px;
    background-color: #999999;
}

#sub-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#left-subCol {
    width: 43%;
    padding: 0 1%;
    margin-right: 5%;
    height: 500px;
    background-color: #999999;
}

#right-subCol {
    height: 500px;
    background-color: #999999;
    width: 43%;
    padding: 0 1%;
}

#footer-text {
    width: 45%;
    text-align: center;
    padding: 8px;
    margin-left: 3%;
}

.line-break {
    display: none;
}